<div class="bar top black large" style="z-index:4">
  <button class="bar-item button hide-large hover-none hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <div class="bar-item right"><a href = '/logout'>Logout </a></div>
</div>

  