<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Password</title>
        <link rel="stylesheet" href="css/addpassword.css">
      </head>
<body>
<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>
<div class="main" style="margin-left:300px;margin-top:43px;">
    <header class="container" style="padding-top:1px">
        <h2><b><i class="fa fa-dashboard"></i>Add New Pssword</b></h2>
      </header>
      <div class="container">
        <form id = 'addpasswordform' action = '/addpassword'>
            <input type="text" placeholder="Password Category" name = "password_category"/>
            <input type="text" placeholder="Username" name = "username"/>
            <input type="text" placeholder="Password Hint" name="password_hint"/>
            <input type="password" placeholder="Password" name="password"/>
            <button type="submit">Add Password</button>
        </form>
    </div>
    

</div>
</body>
<script type="text/javascript" src="javascript/addpassword.js"></script> 

</html>